:root {
    --card-background-color: #1D1C19;
    --card-color-primary: #f7dd43;
    --card-border-title-color-primary: #746615;
    --background-image: url(../assets/background/bg-yellow.svg);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #121214;
    background-image: var(--background-image);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body.blue{
    --card-background-color: #202024;
    --card-color-primary: #338AF3;
    --card-border-title-color-primary: #338AF3;
    --background-image: url(../assets/background/bg-blue.svg);
}

body.green{
    --card-background-color: #1A1F1B;
    --card-color-primary: #047C3F;
    --card-border-title-color-primary: #047C3F;
    --background-image: url(../assets/background/bg-green.svg);
}

body * {
  font-family: "Roboto", sans-serif;
}

#app {
  padding-top: 52px;
  width: fit-content;
  margin: auto;
}

header {
  margin-bottom: 63px;
  text-align: center;
}

#cards {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.card {  
  background-color: var(--card-background-color);
  padding: 32px 23px;
  text-align: center;
  border-radius: 6px;
  border-bottom: 2px solid var(--card-color-primary);
}

.card h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px; /*espaço entre os elementos*/
  width: fit-content;
  margin-inline: auto;

  border: 1px solid var(--card-border-title-color-primary);
  border-radius: 6px;
  margin-bottom: 53px;
  padding: 8px 16px;

  color: #f7dd43;
}

.card h2 span {
  color: #e1e1e6;
  font-size: 14px;
  text-transform: uppercase;
  width: fit-content;
}

.card li div span {
    color: #e1e1e6;
    font-size: 8.5px;
    text-transform: uppercase; 
    margin-top: 10px;
}

.card li div {
    width: 70px;
    display: flex;
    flex-direction: column;
}

.card ul li {
  list-style-type: none;  
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.card ul {
  display: flex;
  flex-direction: column;
  gap: 26.5px;
  width: 270px;
}

/*Pega o li dentro do ul que tem um li anterior*/
.card ul li + li {
  padding-top: 26.5px;
  border-top: 1px solid #323238;
}

.card ul li strong {
  font-weight: 900;
  font-size: 36px;
  line-height: 125%;
  color: #e1e1e6;
}

/*aumenta os objetos ao passar o mouse*/
.card ul li strong:hover,
.card ul li img:hover,
.card h2:hover {
    transform: scale(1.1);
}

#app .card:hover {
    transform: scale(0.9);
}

/*dá um delay no efeito de aumentar os objetos*/
.card ul li strong,
.card ul li img,
.card h2 {
    transition: transform 0.3s;
}

/*usa a animação criada*/
.card {
    opacity: 0;
    animation: appear 1s forwards;
}
/*criar animações*/
@keyframes appear {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/*aplica a partir de 700px pra cima*/
@media (min-width: 700px) {
    #cards {
        max-width: 1400px;/*limite para dois cartões*/
        flex-direction: row;
        flex-wrap: wrap;/*quebra os itens que estouram o tamanho em outra linha*/
        justify-content: center;
        gap: 10px;
    }
    .card {
        transform: scale(0.8,0.8);
    }
}
