* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #121214;
  background-image: url(../assets/background/bg.svg);
  background-position-x: center;
  background-position-y: 55%;
}

body * {
  font-family: "Roboto", sans-serif;
}

#app {
  width: fit-content;
  margin: 32px auto;
}

header {
  margin-bottom: 63px;
}

.card {
  background-color: #1d1c19;
  padding: 32px 23px;
  text-align: center;
  border-radius: 6px;
  border-bottom: 2px solid #f7dd43;
}

.card h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px; /*espaço entre os elementos*/
  width: fit-content;
  margin-inline: auto;

  border: 1px solid #746615;
  border-radius: 6px;
  margin-bottom: 53px;
  padding: 8px 16px;

  color: #f7dd43;
}

.card h2 span {
  color: #e1e1e6;
  font-size: 14px;
  text-transform: uppercase;
}

.card li {
  list-style-type: none;
}

.card ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card ul {
  display: flex;
  flex-direction: column;
  gap: 26.5px;
}

/*Pega o li dentro do ul que tem um li anterior*/
.card ul li + li {
  padding-top: 26.5px;
  border-top: 1px solid #323238;
}

.card ul li strong {
  font-weight: 900;
  font-size: 36px;
  line-height: 125%;
  color: #e1e1e6;
}
